---
layout: default
---
{% if site.posts.size > 0 %}
<div id="archive">
{% for post in site.posts  %}
  {% capture this_year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: '%Y' }}{% endcapture %}

  {% if forloop.first %}
  <h2>{{ this_year }}</h2>
  {% endif %}
  <div class="archive-item">
    <a href="{{ site.baseurl | append: post.url | replace: '//', '/' }}">{{ post.title }}</a>
    <time class="post-date" datetime="{{ post.date }}">{{ post.date | date: '%-d. %B %Y' | downcase }}</time>
  </div>
  {% if forloop.last == false and this_year != next_year %}
  <h2>{{ next_year }}</h2>
  {% endif %}
{% endfor %}
</div>
{% else %}
<h1>Coming soon</h1>
<p>There are not much on this site yet. But you could stop by the <a href="{{ site.baseurl | append: 'about' }}">about</a> page, for a sneak peek!</p>
{% endif %}
