#footer
{
  @include padding(2em 0 2em);
  text-align: center;

  &:before
  {
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    margin: 0 auto 3em;
    background-color: #eee;
  }
}
