#header
{
  @include padding(2em 0 3em);

  h1
  {
    @include margin(0);
    font-size: $heading-small;
    float: left;
  }

  &:after
  {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    margin: 3em auto 0;
    background-color: #eee;
  }
}
